body {
    margin: 0;
    padding: 0;
    background-color: rgb(8, 72, 2);
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    color: goldenrod;
    text-align: center;
    font-size: 2rem;
}
h2{
    text-align: center;
    font-size: 1.5rem;
}

button{
    background-color: goldenrod;
    font-size: 2.5rem;
    color:rgb(8, 72, 2);
    width: 150px;
    height: 50px;
}
span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}
p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    font-style: italic;
}